<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- RViz -->
    <arg name="rviz_config" default=""/>
    <node unless="$(eval arg('rviz_config') == '')" pkg="rviz" type="rviz" name="rviz" args="-d $(env AUTOMATED_HOME)/rviz/$(arg rviz_config).rviz"/>

    <!-- State Machine -->
    <arg name="launch_file" default="$(env AUTOMATED_HOME)/launch/localization.launch"/>
    <node pkg="state_machine" type="state_machine.py" name="state_machine" output="screen">
        <param name="launch_file" value="$(arg launch_file)"/>
    </node>

    <!-- Portal Connection -->
    <node pkg="portal_connection" type="portal.py" name="portal_connection" output="screen">
        <param name="secret" value="$(env PORTAL_SECRET)"/>
    </node>
</launch>