<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- start Webots -->
    <arg name="no-gui" default="false" doc="Start Webots with minimal GUI"/>
    <include file="$(find simulation)/launch/webots.launch">
        <arg name="mode" value="realtime"/>
        <arg name="no-gui" value="$(arg no-gui)"/>
        <!-- modify with path to world-->
        <arg name="world" value="$(find simulation)/worlds/world.wbt"/>
    </include>

    <arg name="auto-close" default="false" doc="Startup mode"/>
    <node name='controller' pkg='simulation' type='full_controller' required='$(arg auto-close)' output="screen"/>

    <!-- Map server providing costmap-->
    <include file="launch/start_map_server.launch" />

    <!-- Convert GPS data into Odometry data -->
    <include file="launch/start_navsat.launch" />

    <!-- EKF Local node, which fuses only contnuous data, i.e. no GPS -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local">
        <rosparam command="load" file="config/ekf_local.yaml"/>
    </node>

    <!-- EKF Global node, which incorporates discrete GPS data -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global">
        <rosparam command="load" file="config/ekf_global.yaml"/>
    </node>


</launch>